/*作者(Author): 李潇喃    Website: www.shanmuzhi.com   QQ: 854378082*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
    background:transparent;
    border:0;
    margin:0;
    padding:0;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {display:block;}
table, tbody, tfoot, thead, tr, th,td {
    background:transparent;
    margin:0;
    padding:0;
}
nav ,ul {list-style:none;}
ol {list-style:decimal;}
blockquote:before, blockquote:after, q:before, q:after {content:none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:0px;
    border:0;
    border-top:1px solid #ccc;
    overflow:hidden;
    line-height:0px;
}
input ,select ,a img {
    vertical-align:middle;
    outline: none;
}
input[type="text"] ,input[type=button],input[type=submit],input[type=reset]{
    -webkit-appearance:none;
    outline:none;
}
em,i {font-style: normal;}
a {
    color: #313131;
    text-decoration: none;
}
a:hover ,a:active ,a:link {text-decoration: none;}
img {
    max-width:100%;
    height:auto;
}
html {
    width: 100%;
    background-color: #f2f2f2;
    color: #666;
    overflow-x: hidden;
}
body {
    height: 100%;
    background: #F4F4F2;
    font-family:"Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif;
    overflow-x: hidden; font-size: 14px; line-height: 1.6;
}
// 定位
.ps {position: absolute;}
.pr {position: relative;}
.clearfix:after {content: ""; clear: both; height: 0px; overflow: hidden; display:block; visibility: hidden;}
.clearfix {*zoom:1;}
.f-l {float: left;}
.f-r{float: right;}
// 内边距
.pd5 {padding:5px;}
.pd10 {padding:10px;}
.pd15 {padding:15px;}
.pd20 {padding:20px;}
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pl5 {padding-left: 5px;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pl20 {padding-left: 20px;}
.pr5 {padding-right: 5px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr20 {padding-right: 20px;}
// 外边距
.mg5 {margin:5px;}
.mg10 {margin:10px;}
.mg15 {margin:15px;}
.mg20 {margin:20px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.iconfont {font-size: 16px;}
/* 右侧内容 */
.layui-layout-admin .layui-body {
	top: 50px;
    bottom: 0px;
}
.right-header {
	background-color: #fff; font-size: 14px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
	height: 50px;
	padding: 0 20px;
    line-height: 50px;
    margin-bottom: 0;
    border-radius: 0;
}
.main_title {font-size: 14px; margin-right: 10px;}
/** layuiAdmin.pro-v1.2.1 LPPL License By http://www.layui.com/admin/ */
::-webkit-input-placeholder { color: #ccc;}

.layui-layout-admin .layui-header { position: fixed; top: 0; left: 0; width: 100%; height: 50px;}

.layui-layout-admin .layui-header .layui-nav .layui-nav-child a { color: #333; cursor:pointer;}

/* 左侧菜单 */

.layui-layout-admin .layui-side { top: 0; z-index: 1001;}

.layui-layout-admin .layui-header .layui-nav .layui-nav-item,.layui-layout-admin .layui-logo { height: 50px; line-height: 50px;}

.layui-layout-admin .layui-logo { position: fixed; left: 0; top: 0; z-index: 1002; height: 49px; padding: 0 15px; box-sizing: border-box; overflow: hidden; font-weight: 300; background-repeat: no-repeat; background-position: center center;}

.layui-layout-admin .layui-body .layadmin-tabsbody-item { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden; overflow-y: auto;}

.layui-layout-admin .layui-header .layui-nav-img { width: 26px; height: 26px;}

/* 头，右侧 */

.layui-layout-admin .layui-header .layui-nav-child { top: 48px;}

.layui-layout-admin .layui-header .layui-layout-right .layui-nav-child { left: auto; right: 0;}

.layui-layout-admin .layui-header .layui-nav .layui-nav-child dd.layui-this,.layui-layout-admin .layui-header .layui-nav .layui-nav-child dd.layui-this a { background: 0 0;}

.layadmin-pagetabs,.layui-layout-admin .layui-body,.layui-layout-admin .layui-footer,.layui-layout-admin .layui-header .layui-layout-right,.layui-layout-admin .layui-header .layui-nav .layui-nav-item,.layui-layout-admin .layui-layout-left,.layui-layout-admin .layui-logo,.layui-layout-admin .layui-side { transition: all .3s; -webkit-transition: all .3s;}

.layui-header .layui-nav .layui-this:after,.layui-layout-admin .layui-header .layui-nav-bar { top: 0!important; bottom: auto; height: 3px; background-color: #fff; background-color: rgba(255,255,255,.3);}

.layadmin-body-shade { position: fixed; display: none; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.3); z-index: 1000;}

.layui-side-menu .layui-nav { margin-top: 50px; background: 0 0;}

.layui-side-menu .layui-nav .layui-nav-item a { height: 40px; line-height: 40px; padding-left: 45px; padding-right: 30px; cursor:pointer; }

.layui-side-menu .layui-nav .layui-nav-item>a { padding-top: 8px; padding-bottom: 8px;}

.layui-side-menu .layui-nav .layui-nav-item a:hover { background: 0 0;}

.layui-side-menu .layui-nav .layui-nav-itemed>.layui-nav-child { padding: 5px 0;}

.layui-side-menu .layui-nav .layui-nav-item .layui-icon { position: absolute; top: 50%; left: 20px; margin-top: -19px;}

/* .layui-side-menu .layui-nav .layui-nav-child .layui-nav-child { background: 0 0!important;} */

.layui-side-menu .layui-nav .layui-nav-child .layui-nav-child a { /* padding-left: 60px; */ cursor:pointer;}

.layui-side-menu .layui-nav .layui-nav-more { right: 15px;}

@media screen and (max-width:992px) {
	.layui-layout-admin .layui-side { transform: translate3d(-220px,0,0); -webkit-transform: translate3d(-220px,0,0); width: 220px; }
	.layadmin-pagetabs,.layui-layout-admin .layui-body,.layui-layout-admin .layui-footer,.layui-layout-admin .layui-layout-left {left: 0;}
}

/* 展开收缩左侧 */
.layadmin-side-shrink .layui-layout-admin .layui-logo { width: 0; padding: 0;}

.layadmin-side-shrink .layui-layout-admin .layui-logo span { display: none;}

.layadmin-side-shrink .layui-side { left: 0; width: 0;}

.layadmin-side-shrink .layadmin-pagetabs,.layadmin-side-shrink .layui-layout-admin .layui-body,.layadmin-side-shrink .layui-layout-admin .layui-footer,.layadmin-side-shrink .layui-layout-admin .layui-layout-left { left: 0;}

.layadmin-side-shrink .layui-side-menu .layui-nav { position: static; width: 0;}

.layadmin-side-shrink .layui-side-menu .layui-nav-item { position: static;}

.layadmin-side-shrink .layui-side-menu .layui-nav-item>a { padding-right: 0;}

.layadmin-side-shrink .layui-side-menu .layui-nav-item cite,.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>.layui-nav-child,.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>a .layui-nav-more { display: none; padding: 8px 0; width: 200px;}

.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-itemed>a { background: rgba(0,0,0,.3);}

.layadmin-side-spread-sm .layadmin-pagetabs,.layadmin-side-spread-sm .layui-layout-admin .layui-body,.layadmin-side-spread-sm .layui-layout-admin .layui-footer,.layadmin-side-spread-sm .layui-layout-admin .layui-layout-left { left: 0; transform: translate3d(220px,0,0); -webkit-transform: translate3d(220px,0,0);}

.layadmin-side-spread-sm .layui-layout-admin .layui-layout-right { transform: translate3d(220px,0,0); -webkit-transform: translate3d(220px,0,0);}

.layadmin-side-spread-sm .layui-side { transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0);}

.layadmin-side-spread-sm .layadmin-body-shade { display: block;}

/* 头部导航 */

.layui-layout-admin .layui-header a,.layui-layout-admin .layui-header a cite { color: #333;}

.layui-layout-admin .layui-header a:hover { color: #000;}

.layui-layout-admin .layui-header .layui-nav .layui-nav-more { border-top-color: #666;}

.layui-layout-admin .layui-header .layui-nav .layui-nav-mored { border-color: transparent transparent #666;}

.layui-layout-admin .layui-header .layui-nav .layui-this:after,.layui-layout-admin .layui-header .layui-nav-bar { height: 2px; background-color: #20222A;}

.layui-layout-admin .layui-logo { background-color: #20222A; box-shadow: 0 1px 2px 0 rgba(0,0,0,.15); background-image: url("../images/logo.png");}

.layui-layout-admin .layui-logo,.layui-layout-admin .layui-logo a { color: #fff; color: rgba(255,255,255,.8);}

.layui-side-menu { box-shadow: 1px 0 2px 0 rgba(0,0,0,.05);}

.layui-layout-admin .layui-footer { padding: 10px 0; text-align: center; box-shadow: 0 -1px 2px 0 rgba(0,0,0,.05);}

.layui-side-menu { background-color: #20222A; color: #fff;}

.layui-layout-admin .layui-footer { background-color: #fff;}

.layui-tab-admin .layui-tab-title { background-color: #393D49; color: #fff;}

.layui-fluid { padding: 15px;}

.layadmin-header { display: none; height: 50px; line-height: 50px; margin-bottom: 0; border-radius: 0;}

.layadmin-header .layui-breadcrumb { padding: 0 15px;}

.layui-card-header { position: relative;}

.layui-card-header .layui-icon { line-height: initial; position: absolute; right: 15px; top: 50%; margin-top: -7px;}

/* 右侧iframe */

.layadmin-iframe { position: absolute; width: 100%; height: 100%; left: 0; top: 0; right: 0; bottom: 0;}

@-webkit-keyframes layui-rl {
	from { 	-webkit-transform: translate3d(100%,0,0); }
	to { 	-webkit-transform: translate3d(0,0,0); };
}

@keyframes layui-rl {
	from { 	transform: translate3d(100%,0,0); }
	to { 	transform: translate3d(0,0,0); };
}

.layui-anim-rl { -webkit-animation-name: layui-rl; animation-name: layui-rl;}

@-webkit-keyframes layui-lr {
	from { 	-webkit-transform: translate3d(0 0,0); opacity: 1; }
	to { -webkit-transform: translate3d(100%,0,0); opacity: 1; };
}

@keyframes layui-lr {
	from { transform: translate3d(0,0,0); }
	to { transform: translate3d(100%,0,0); };
}

.layui-anim-lr,.layui-anim-rl.layer-anim-close { -webkit-animation-name: layui-lr; animation-name: layui-lr;}

@media screen and (max-width:768px) {
	.layadmin-panel-selection { margin: 0; width: auto; }
	.layui-body .layui-nav .layui-nav-item { display: block; }
	.layui-layout-admin .layui-body .layadmin-tabsbody-item { -webkit-overflow-scrolling: touch; overflow: auto; };
}

.indexIframe{ width:100%; height:100%; }


/* 皮肤 */
.layui-side-menu,.layadmin-pagetabs .layui-tab-title li:after,.layadmin-pagetabs .layui-tab-title li.layui-this:after,.layui-layer-admin .layui-layer-title,.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>.layui-nav-child{background-color:undefined !important;}
.layui-nav-tree .layui-this,.layui-nav-tree .layui-this>a,.layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a{background-color:undefined !important;}
.layui-layout-admin .layui-logo{background-color:undefined !important;}
.layui-layout-admin .layui-header{background-color:#393D49;}
.layui-layout-admin .layui-header a,.layui-layout-admin .layui-header a cite{color: #f8f8f8;}
.layui-layout-admin .layui-header a:hover{color: #fff;}
.layui-layout-admin .layui-header .layui-nav .layui-nav-more{border-top-color: #fbfbfb;}
.layui-layout-admin .layui-header .layui-nav .layui-nav-mored{border-color: transparent; border-bottom-color: #fbfbfb;}
.layui-layout-admin .layui-header .layui-nav .layui-this:after, .layui-layout-admin .layui-header .layui-nav-bar{background-color: #fff; background-color: rgba(255,255,255,.5);}
.layadmin-pagetabs .layui-tab-title li:after{display: none;}