/node_modules
/public/hot
/public/storage
/public/upload
/storage/logs
/storage/framework
/storage/app
/sql
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
sftp-config.json
.env
*.sublime-project
*.sublime-workspace